#about {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

#service {
  background-color: #f3f6fa;
  padding-bottom: 4rem;
}

#contact {
  padding-bottom: 4rem;
}
#footer {
  padding-bottom: 1rem;
  background-color: #f3f6fa;
}

#blog {
  padding-top: 8rem;
  padding-bottom: 5rem;
  /* background-color: black; */
  background-image: url("img/kopi1.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

#blog .container {
  color: white;
}

#recent {
  padding-bottom: 4rem;
}

#recent .card-title {
  text-align: start;
}
/* #blog .container {
  text-decoration: white;
} */

section {
  padding-top: 5rem;
}

a {
  text-decoration: none;
}

/* Icons */
